<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Footer Fragment</title>
</head>

<body>
    <footer th:fragment="footer" class="footer bg-dark text-white pt-5 pb-3">
        <div class="container">
            <div class="row g-4">
                <div class="col-md-4">
                    <h5 class="mb-3"><i class="bi bi-gem"></i> LuxeStyle</h5>
                    <p>Your destination for premium fashion accessories. Elevate your style with our curated collection.
                    </p>
                    <div class="mb-3">
                        <h6 class="mb-2"><i class="bi bi-geo-alt"></i> Address</h6>
                        <p class="text-white-50 small mb-0">123 Fashion Avenue</p>
                        <p class="text-white-50 small mb-0">New York, NY 10001</p>
                        <p class="text-white-50 small mb-0">United States</p>
                    </div>
                    <div class="social-links mt-3">
                        <a href="#" class="text-white me-3"><i class="bi bi-facebook fs-5"></i></a>
                        <a href="#" class="text-white me-3"><i class="bi bi-instagram fs-5"></i></a>
                        <a href="#" class="text-white me-3"><i class="bi bi-twitter fs-5"></i></a>
                        <a href="#" class="text-white"><i class="bi bi-pinterest fs-5"></i></a>
                    </div>
                </div>
                <div class="col-md-2">
                    <h5 class="mb-3">Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a th:href="@{/}" class="text-white-50">Home</a></li>
                        <li><a th:href="@{/products}" class="text-white-50">Products</a></li>
                        <li><a th:href="@{/cart}" class="text-white-50">Cart</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h5 class="mb-3">Account</h5>
                    <ul class="list-unstyled">
                        <li><a th:href="@{/user/login}" class="text-white-50">Login</a></li>
                        <li><a th:href="@{/user/register}" class="text-white-50">Register</a></li>
                        <li><a th:href="@{/orders}" class="text-white-50">My Orders</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h5 class="mb-3">Customer Service</h5>
                    <ul class="list-unstyled">
                        <li><a th:href="@{/contact}" class="text-white-50">Contact Us</a></li>
                        <li><a href="#" class="text-white-50">Shipping Info</a></li>
                        <li><a href="#" class="text-white-50">Returns</a></li>
                        <li><a href="#" class="text-white-50">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h5 class="mb-3">Newsletter</h5>
                    <p class="text-white-50">Subscribe for exclusive offers</p>
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="Your email">
                        <button class="btn btn-primary" type="button">
                            <i class="bi bi-send"></i>
                        </button>
                    </div>
                </div>
            </div>
            <hr class="my-4 bg-white">
            <div class="text-center text-white-50">
                <p class="mb-0">&copy; 2024 LuxeStyle. All rights reserved.</p>
            </div>
        </div>
    </footer>
</body>

</html>