<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Navbar Fragment</title>
</head>

<body>
    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNavbar">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">
                <i class="bi bi-gem"></i> LuxeStyle
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <form class="d-flex me-auto" role="search" th:action="@{/products}" method="get">
                    <input class="form-control me-2" type="search" placeholder="Search products..." aria-label="Search"
                        name="keyword">
                    <button class="btn btn-outline-light" type="submit"><i class="bi bi-search"></i></button>
                </form>
                <ul class="navbar-nav ms-auto align-items-center">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/products}">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/about}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/contact}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/cart}">
                            <i class="bi bi-cart3"></i> Cart
                        </a>
                    </li>

                    <!-- Admin Link -->
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link" th:href="@{/admin/products}">Admin</a>
                    </li>

                    <!-- User Links (Authenticated) -->
                    <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-check-fill"></i> <span sec:authentication="name">User</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" th:href="@{/user/profile}">My Profile</a></li>
                            <li><a class="dropdown-item" th:href="@{/orders}">My Orders</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <form th:action="@{/logout}" method="post">
                                    <button type="submit" class="dropdown-item">Logout</button>
                                </form>
                            </li>
                        </ul>
                    </li>

                    <!-- Guest Links (Not Authenticated) -->
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" th:href="@{/login}">Login</a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link btn btn-outline-light ms-2" th:href="@{/register}">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>

</html>